<div class="relative bg-white">
  <div class="mx-auto max-w-7xl">
    <div class="relative z-10 lg:w-full lg:max-w-2xl">
      <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="0,0 90,0 50,100 0,100" />
      </svg>

      <div class="relative px-6 pt-6 lg:pl-8 lg:pr-0">
        <nav class="flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <%= image_tag("557048.png", class: "h-8 w-auto") %>
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 lg:hidden">
            <span class="sr-only">Open main menu</span>
            <!-- Heroicon name: outline/bars-3 -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
          <div class="hidden lg:ml-12 lg:block lg:space-x-14">
            <%= link_to 'Sign up', new_user_registration_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
            <%= link_to 'Log in', new_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div role="dialog" aria-modal="true">
          <div class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden">
            <div class="flex flex-row-reverse items-center justify-between">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: outline/x-mark -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
              </a>
            </div>
            <div class="mt-6 space-y-2">
              <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Product</a>

              <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Features</a>

              <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Marketplace</a>

              <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Company</a>

              <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Log in</a>
            </div>
          </div>
        </div>
      </div>

      <div class="relative py-32 px-6 sm:py-40 lg:py-56 lg:px-8 lg:pr-0">
        <div class="mx-auto mt-16 max-w-2xl lg:mx-0 lg:max-w-xl">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">TimeKeepy</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
          <div class="mt-10 flex items-center gap-x-6">
            <%= link_to 'Get started', new_user_registration_path, class: "rounded-md bg-yellow-400 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-yellow-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <%= image_tag("59456.jpg", class: "aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full") %>
  </div>
</div>
