<% if @user.role.eql?("admin") %>
  
  <p> Goodmorning, Admin <%= @user.first_name %>! </p>

  <p> <%= link_to 'Members', user_members_path %> </p>
  <p> <%= link_to 'Requests', user_requests_path %> </p>

<% else %>  

  <p> Goodmorning, <%= @user.first_name %>! </p>


  <%= button_to "Time In", user_time_in_path, method: 'post' %>
  </br>
  <%= button_to "Time Out", user_time_out_path, method: 'post' %>

  <p><%= link_to 'View Time Records', time_records_home_path %></p>

<% end %>


<%= link_to "Log out", destroy_user_session_path, method: :delete %>
